@media all and (min-width: 320px) and (max-width: 350px){
  section form div select {
    width: 6rem !important;
  }
}
section div.image {
  margin-top: 1rem;
  text-align: center;
}
section div.image a img {
  width: 6rem;
  height: 6rem;
}
section div.image p {
  margin: .5rem;
}
section form {
  width: 100%;
  margin: 1rem auto;
}
section form div {
  position: relative;
  margin: 1rem 0 1rem 6% ;
}
section form div textarea {
  display: inline-block;
  vertical-align: top;
  width: 69%;
  height: 7.4rem;
  outline: none;
  resize: none;
  border: solid 1px #aaaaaa;
}
section form div span.number {
  position: absolute;
  left: 74%;
  top: 6.2rem;
  color: #c1c1c1;
  background-color: #fff;
  width: 4.5rem;
}
section form div span.number span {
  width: auto;
  color: #c1c1c1;
}
section form div span {
  display: inline-block;
  width: 6rem;
  font-size: 1.1rem;
}
section form div input {
  border: solid 1px #aaaaaa;
  height: 2rem;
  width: 60%;
}
section form div input[type=radio] {
  height: 1rem;
  width: 1rem;
  margin: .5rem;
}
section form div input[type=button],
section form div input[type=submit] {
  height: 2rem;
  width: 6rem;
  position: absolute;
  left: 36%;
  top: 1rem;
  background-color: #ff3c5a;
  color: #fff;
  border-radius: 6px;
}
section form div select {
  border: solid 1px #aaaaaa;
  height: 2rem;
  width: 7rem;
  text-align: center;
}
section form div input.iptlong {
  width: 70%;
}
