div.nodata {
  height: 10rem;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 3rem;
  box-sizing: border-box;
}
div.nodata p {
  text-align: center;
  margin: 1rem;
}
div.nodata p img {
  vertical-align: middle;
  width: 1.8rem;
  height: 1.8rem;
}
div.nodata p span {
  vertical-align: middle;
  color: #9c9c9c;
}
