section form div span.remind {
  width: 16rem;
  margin-left: 6.5rem;
  display: block;
  margin-top: .5rem;
  font-size: 1rem;
}
section div.explain {
  width: 92%;
  margin: 6rem auto 2rem auto;
}
section div.explain p {
  color: #727171;
  text-align: left;
  margin-top: .5rem;
}
