section div.register {
  height: 2.6rem;
  line-height: 2.6rem;
}
section div.register p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  overflow: hidden;
}
section div.register p span {
  margin-left: -2rem;
}
section div.register p a {
  display: inline-block;
  font-weight: normal;
  float: left;
  margin-left: 2rem;
  margin-top: .5rem;
}
section div.register p .fa-angle-left {
  font-size: 1.4rem;
}
section .error {
  display: block;
  margin-top: 1rem;
}
section .error div.list img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  vertical-align: middle;
}
section .error div.list span {
  display: inline-block;
  color: red;
  vertical-align: middle;
}
section div.reset form .input {
  position: relative;
  background-color: #efefef;
  padding: 1.2rem 0;
  width: 100%;
}
section div.reset form .input input::-webkit-input-placeholder,
section div.reset form .input input:-ms-input-placeholder,
section div.reset form .input input:-moz-placeholder {
  color: #a6a7a7;
  font-weight: normal !important;
}
section div.reset form .input input {
  width: 85%;
  margin: 0 auto;
  height: 3.2rem;
  display: block;
  border: solid 1px #efefef;
  color: #000000;
  padding-left: 2.9rem;
  background-repeat: no-repeat;
  background-size: 6%;
  font-size: 1.1rem;
  font-weight: bold;
}
section div.reset form .login {
  padding-top: 1rem;
}
section div.reset form .login input {
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 2.6rem;
  background-color: #ff3c5a;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  border-radius: 6px;
}
section div.reset1 form .input input:first-child {
  background-image: url("../../images/tpls/reset/reset1_03.gif");
  background-position: .6rem .8rem;
}
section div.reset1 form .input input:nth-child(2) {
  background-image: url("../../images/tpls/reset/reset1_06.gif");
  background-position: .6rem .6rem;
}
section div.reset1 form .input input:nth-child(3) {
  background-image: url("../../images/tpls/reset/reset1_12.gif");
  background-position: .6rem 1.1rem;
}
section div.reset1 form .input .clearimg {
  position: absolute;
  top: 2.1rem;
  left: 23rem;
  width: 1.5rem;
  height: 1.5rem;
}
section div.reset1 form .input img.getcode,
section div.reset1 form .input img.gotcode {
  float: right;
  margin-right: 1.8rem;
  margin-top: -2.8rem;
  width: 5.6rem;
  height: 2.2rem;
}
div.reset2 form .input input {
  padding-left: 1rem !important;
}
div.reset3 div.success {
  text-align: center;
  margin-top: 1rem;
}
div.reset3 div.success .pink {
  color: #ff3c5a;
}
div.reset3 div.success p,
div.reset3 div.success span {
  margin-top: .8rem;
}
div.reset3 div.success img {
  width: 2rem;
  height: 2rem;
}
