
@media all and(min-width:320px) and(max-width: 767px){
  html{
  }
}
@media all and(min-width:768px){
  html{
    body section div.detail-industry div .head img {
      margin-top: 8px;
    }
  }
}
body{
  a{
    text-decoration: none;
    color:#000000;
  }
  .red{
    color: #ff3c5a;
  }
  input{
    outline: none;
    box-shadow: none;
    border: none;
  }
  section{
    width: 100%;
    background-color: #ffffff;
    div.industry{
      width:100%;
      height:21rem;
      margin: 0 auto;
      text-align: center;
        display: flex;
        justify-content: space-around;
        align-items:center;
      flex-wrap: wrap;
        .industry-intro{
          width: 33%;
          height: 30%;
          img{
            display: block;
            margin: 0 auto;
            height: 4.15rem;
            width: 4.25rem;
          }
          span{
            margin-top: .5rem;
            display: block;
            font-size: 1.1rem;
          }
        }
    }
    div.detail-industry {
      div {
        .head {
          height: 2.5rem;
          line-height: 2.5rem;
          .txt {
            color: #ff3c5a;
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 12px;
          }
          img {
            float: right;
            margin-right: 1px;
            margin-top: 5px;
            width: 1.3rem;
            height: 1.3rem;
          }
          .fb {
            float: right;
            font-size:.8rem;
            font-weight: bold;
            color: #00b4ff;
            margin-right: 10px;
          }
        }
        .middle {
          ul {
            margin: 4px 0;
            padding: 0;
            min-height: 2.5rem;
            width: 100%;
            li {
              padding: 0;
              list-style: none;
              display: inline-block;
              width: 23%;
              height: 2.5rem;
              line-height: 2.5rem;
              a {
                font-size: 1rem;
              }
            }
            li:nth-child(1) {
              margin-left: 1rem;
            }
          }
          ul.zxfb{
            border-bottom: solid 1px #edeeee;
            height: auto;
            li{
              width: 96%;
              overflow: hidden;
              position: relative;
              height: auto;
              span.area{
                position: absolute;
                top: 0;
              }
              a.txt-a{
                display:inline-block;
                width: 67%;
                margin-left: 2.4rem;
              }
              a{
                img{
                  position: absolute;
                  left: 90%;
                  top: .4rem;
                  width: 1.6rem;
                  height: 1.6rem;
                }
              }
              .date{
                position: absolute;
                left: 78%;
                top: 0rem;
              }
            }
          }
          .hui {
            background-color: #edeeee;
            li {
              a {
                color: #939090;

              }
            }
          }
        }
        .dxs{
          background-color: #edeeee;
        }
      }
    }
  }
}