section div.main {
  padding-bottom: 80px;
}
section div.main div.title {
  margin-top: 20px;
  padding-left: 20px;
}
section div.main div.title div.left {
  display: inline-block;
  width: 800px;
}
section div.main div.title div.right {
  display: inline-block;
  width: 200px;
  text-align: center;
}
section div.main div.title div.right span.salary {
  font-size: 24px;
  font-weight: bold;
  color: #ff3c5a;
}
section div.main div.title div.right a {
  margin-top: 10px;
  width: 140px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #ff3c5a;
}
section div.main div.title div.line1 span {
  margin: 0 4px;
  vertical-align: middle;
}
section div.main div.title div.line1 span.name {
  font-size: 24px;
  font-weight: bold;
}
section div.main div.title div.line2 {
  margin-top: 16px;
}
section div.main div.title div.line2 span {
  color: #999999;
  vertical-align: middle;
  margin: 4px;
}
section div.main div.title div.line2 img {
  vertical-align: middle;
  margin-left: 4px;
}
section div.main div.title div.line2 img.clock {
  margin-left: 60px;
}
section div.main div.infor {
  margin-top: 40px;
  padding-left: 20px;
}
section div.main div.infor div.scale,
section div.main div.infor div.scale-right {
  display: inline-block;
  width: 380px;
  padding-bottom: 40px;
}
section div.main div.infor div.scale p,
section div.main div.infor div.scale-right p {
  margin-top: 20px;
}
section div.main div.infor div.scale p span.name,
section div.main div.infor div.scale-right p span.name {
  color: #999;
}
section div.main div.introduce {
  padding: 0 20px;
}
section div.main div.introduce p.line {
  border-bottom: solid 1px #ff3c5a;
}
section div.main div.introduce p.line span {
  font-size: 18px;
  color: #999;
  width: 94px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
section div.main div.introduce p.line .active {
  color: #ffffff;
  background-color: #ff3c5a;
}
section div.main div.introduce p.line span:hover {
  cursor: pointer;
}
section div.main div.introduce div.fwjs,
section div.main div.introduce .gsxq,
section div.main div.introduce .fwpj {
  padding: 20px 300px 20px 0;
}
section div.main div.introduce div.gsxq {
  display: none;
}
section div.main div.introduce div.gsxq p {
  margin: 20px 0;
}
section div.main div.introduce div.gsxq p span {
  vertical-align: top;
}
section div.main div.introduce div.gsxq p span.content {
  max-width: 600px;
}
section div.main div.introduce div.fwpj {
  display: none;
}
section div.main div.introduce div.fwpj .evaluate1,
section div.main div.introduce div.fwpj .evaluate2 {
  font-size: 18px;
  text-align: center;
  margin: 40px;
  margin-left: 320px;
}
section div.main div.introduce div.fwpj .evaluate1 a,
section div.main div.introduce div.fwpj .evaluate2 a {
  font-size: 18px;
  color: #2f2aff;
}
section div.main div.introduce div.fwpj .evaluate3 form {
  margin: 40px 0;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing {
  padding-left: 80px;
  box-sizing: border-box;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.star {
  margin: 16px 0;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv {
  position: relative;
  display: inline-block;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv div.back {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 3px;
  top: 2px;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv .redxing {
  background-color: #ff3c5c;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv .whitexing {
  background-color: #ffffff;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv img.xing {
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing div.stardiv img.xing:hover {
  cursor: pointer;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing span {
  vertical-align: middle;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing span:first-child {
  margin-right: 10px;
}
section div.main div.introduce div.fwpj .evaluate3 form div.xingxing span.txt {
  color: #aaa;
  display: none;
}
section div.main div.introduce div.fwpj .evaluate3 form label {
  margin-left: 40px;
  width: 70px;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist {
  padding-left: 80px;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type {
  border-bottom: solid 1px #546e7a;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type p {
  margin-top: 10px;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type div.content p {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type div.content p.left {
  width: 500px;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type div.content p.right {
  width: 200px;
}
section div.main div.introduce div.fwpj .evaluate3 div.pjlist div.type div.content p.right span {
  color: #999;
  margin: 0 20px;
}
