section div.position {
  margin: 10px 0;
}
section div.main {
  background-color: #ffffff;
  padding: 40px 0;
  height: 500px;
}
section div.main div.middle {
  width: 600px;
  margin: 0 auto;
}
section div.main div.buzhou {
  margin-bottom: 60px;
  padding-left: 40px;
  box-sizing: border-box;
}
section div.main div.buzhou span.step {
  margin: 0 20px;
  font-size: 18px;
}
section div.main div.buzhou .b {
  font-weight: bold;
}
section div.main .input-normal {
  width: 240px;
}
section div.main .form-group {
  margin-bottom: 40px;
}
section div.main .btn-main {
  font-size: 18px;
  letter-spacing: 4px;
  width: 210px;
}
section div.main div.send {
  overflow: auto;
  margin-left: 56px;
}
section div.main div.send .djq {
  background-color: #c6c6c6;
  color: #333;
}
section div.main div.send .djh {
  background-color: #ff3c5a;
  color: #ffffff;
}
section div.main div.send .getyzm {
  text-align: center;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
}
section div.main div.send .getyzm:hover {
  cursor: pointer;
}
section div.main div.reset {
  display: none;
  margin-left: 55px;
}
section div.main div.complete {
  display: none;
  width: 320px;
  margin: 0 auto;
}
section div.main div.complete h2 {
  font-size: 30px;
  margin-top: 70px;
}
section div.main div.complete a {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 18px;
  color: #2f2aff;
}
