header {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background: #fff;
  border-bottom: solid 1px #c6c6c6;
}
header div.main {
  width: 1190px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  overflow: hidden;
}
header div.main div,
header div.main span {
  display: inline-block;
}
header div.main div.city {
  vertical-align: middle;
}
header div.main div.city a {
  color: #888888;
  font-size: 13px;
}
header div.main div.weather {
  vertical-align: middle;
}
header div.main div.weather span {
  font-size: 12px;
}
header div.main div.weather img.weather-condition {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
header div.main div.weather span {
  vertical-align: middle;
}
header div.main div.weather .liang {
  background-color: #73d538;
}
header div.main div.weather span.air-condition {
  width: 15px;
  height: 14px;
  text-align: center;
  line-height: 15px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
header div.main div.fr {
  float: right;
  margin-right: 5px;
}
header div.main div.fr ul {
  display: inline-block;
  height: inherit;
}
header div.main div.fr ul li {
  height: 30px;
  margin-left: 10px;
  line-height: 30px;
}
header div.main div.fr ul li a {
  height: 30px;
  line-height: 30px;
  color: #888888;
}
header div.main div.fr ul li img {
  width: 9px;
  height: 6px;
  margin-left: 4px;
  margin-bottom: 2px;
}
header div.main div.fr ul li.wxb:hover {
  cursor: pointer;
}
header div.main div.fr div.lgb {
  position: absolute;
  height: 120px;
  width: 70px;
  border: solid 1px #dadada;
  background-color: #ffffff;
  top: 0px;
  display: none;
}
header div.main div.fr div.lgb a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #888888;
  font-size: 12px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}
header div.main div.fr div.lgb a img {
  width: 9px;
  height: 6px;
  margin-left: 4px;
  margin-bottom: 2px;
}
header div.main div.fr div.lgb a:hover {
  text-decoration: none;
}
header div.main div.fr div.lgb a:first-child {
  display: inline-block;
  font-size: 14px;
}
header div.main div.fr div.lgb .a-backcolor {
  background-color: #dadada;
}
header div.main div.fr div.wx {
  position: absolute;
  top: 31px;
  display: none;
}
footer {
  height: 130px;
  margin-top: 80px;
  font-size: 14px;
  font-family: "黑体";
}
footer div.main {
  width: 1190px;
  margin: 0 auto;
}
footer div.main ul {
  text-align: center;
  margin: 10px;
}
footer div.main ul li a {
  color: #333;
}
footer div.main p {
  margin-top: 20px;
  text-align: center;
  color: #333;
}
