div.head {
  padding: 40px 0;
}
div.head span {
  font-size: 36px;
  color: #999999;
  font-weight: bold;
}
p.line {
  border: solid 1px #c6c6c6;
}
section div.main {
  padding: 80px 140px;
  background-color: #ffffff;
  min-height: 1000px;
}
section div.main p.h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0;
}
section div.main p.h2 {
  font-weight: bold;
  color: #7a7a7a;
  margin: 20px 0;
}
section div.main p.h3 {
  color: #ababab;
  text-indent: 2em;
  line-height: 22px;
}
section div.main p.h3 a {
  margin-left: -2em;
}
