section div.main div.body div.content p.xz {
  margin-top: 40px;
  margin-left: 30px;
  height: 26px;
  padding: 0 50px;
  background-color: #ededed;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
section div.main div.body div.content p.xz span:hover {
  cursor: pointer;
}
section div.main div.body div.content p.xz .xsxx {
  color: #ff3c5a;
}
section div.main div.body div.content div.fbgz h1.zwsj,
section div.main div.body div.content div.zlg h1.zwsj {
  display: none;
  color: #999;
  margin: 40px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
}
section div.main div.body div.content div.fbgz div.deleted,
section div.main div.body div.content div.zlg div.deleted,
section div.main div.body div.content div.fbgz div.before,
section div.main div.body div.content div.zlg div.before {
  display: none;
}
section div.main div.body div.content div.fbgz div.now,
section div.main div.body div.content div.zlg div.now,
section div.main div.body div.content div.fbgz div.deleted,
section div.main div.body div.content div.zlg div.deleted,
section div.main div.body div.content div.fbgz div.before,
section div.main div.body div.content div.zlg div.before {
  margin-top: 20px;
}
section div.main div.body div.content div.fbgz div.now div.demo,
section div.main div.body div.content div.zlg div.now div.demo,
section div.main div.body div.content div.fbgz div.deleted div.demo,
section div.main div.body div.content div.zlg div.deleted div.demo,
section div.main div.body div.content div.fbgz div.before div.demo,
section div.main div.body div.content div.zlg div.before div.demo {
  height: 140px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right,
section div.main div.body div.content div.zlg div.now div.demo div.right,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right,
section div.main div.body div.content div.zlg div.deleted div.demo div.right,
section div.main div.body div.content div.fbgz div.before div.demo div.right,
section div.main div.body div.content div.zlg div.before div.demo div.right {
  display: inline-block;
  vertical-align: middle;
  height: 140px;
  width: 870px;
  border: solid 1px #c6c6c6;
  border-bottom: none;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right p.xxbh,
section div.main div.body div.content div.zlg div.now div.demo div.right p.xxbh,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right p.xxbh,
section div.main div.body div.content div.zlg div.deleted div.demo div.right p.xxbh,
section div.main div.body div.content div.fbgz div.before div.demo div.right p.xxbh,
section div.main div.body div.content div.zlg div.before div.demo div.right p.xxbh {
  height: 30px;
  line-height: 30px;
  background-color: #ededed;
  padding-left: 10px;
  width: 860px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right p.xxbh span,
section div.main div.body div.content div.zlg div.now div.demo div.right p.xxbh span,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right p.xxbh span,
section div.main div.body div.content div.zlg div.deleted div.demo div.right p.xxbh span,
section div.main div.body div.content div.fbgz div.before div.demo div.right p.xxbh span,
section div.main div.body div.content div.zlg div.before div.demo div.right p.xxbh span {
  vertical-align: middle;
  color: #999999;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh img,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh img,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh img,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh img,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh img,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh img {
  width: 100px;
  height: 90px;
  margin: 10px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.m,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.m,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.m,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.m,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.m,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.m {
  display: inline-block;
  height: 90px;
  margin-top: 10px;
  vertical-align: top;
  max-width: 460px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.m h1,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.m h1,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.m h1,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.m h1,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.m h1,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.m h1 {
  font-size: 16px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.m h2,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.m h2,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.m h2,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.m h2,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.m h2,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.m h2 {
  font-size: 14px;
  font-weight: normal;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.m h3,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.m h3,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.m h3,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.m h3,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.m h3,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.m h3 {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.m h3 span,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.m h3 span,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.m h3 span,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.m h3 span,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.m h3 span,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.m h3 span {
  margin-right: 20px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.r,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.r,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.r,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.r,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.r,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.r {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  float: right;
  padding: 20px 0;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right div.jsh div.r a,
section div.main div.body div.content div.zlg div.now div.demo div.right div.jsh div.r a,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right div.jsh div.r a,
section div.main div.body div.content div.zlg div.deleted div.demo div.right div.jsh div.r a,
section div.main div.body div.content div.fbgz div.before div.demo div.right div.jsh div.r a,
section div.main div.body div.content div.zlg div.before div.demo div.right div.jsh div.r a {
  color: #556f7b;
  margin: 10px 20px;
}
section div.main div.body div.content div.fbgz div.now div.demo div.right:last-child,
section div.main div.body div.content div.zlg div.now div.demo div.right:last-child,
section div.main div.body div.content div.fbgz div.deleted div.demo div.right:last-child,
section div.main div.body div.content div.zlg div.deleted div.demo div.right:last-child,
section div.main div.body div.content div.fbgz div.before div.demo div.right:last-child,
section div.main div.body div.content div.zlg div.before div.demo div.right:last-child {
  border-bottom: solid 1px #c6c6c6;
}
section div.main div.body div.content div.fbgz div.now div.acheck,
section div.main div.body div.content div.zlg div.now div.acheck,
section div.main div.body div.content div.fbgz div.deleted div.acheck,
section div.main div.body div.content div.zlg div.deleted div.acheck,
section div.main div.body div.content div.fbgz div.before div.acheck,
section div.main div.body div.content div.zlg div.before div.acheck {
  margin-top: 40px;
}
section div.main div.body div.content div.fbgz div.now div.acheck span,
section div.main div.body div.content div.zlg div.now div.acheck span,
section div.main div.body div.content div.fbgz div.deleted div.acheck span,
section div.main div.body div.content div.zlg div.deleted div.acheck span,
section div.main div.body div.content div.fbgz div.before div.acheck span,
section div.main div.body div.content div.zlg div.before div.acheck span {
  color: #556f7b;
}
section div.main div.body div.content div.fbgz div.now div.acheck span.del,
section div.main div.body div.content div.zlg div.now div.acheck span.del,
section div.main div.body div.content div.fbgz div.deleted div.acheck span.del,
section div.main div.body div.content div.zlg div.deleted div.acheck span.del,
section div.main div.body div.content div.fbgz div.before div.acheck span.del,
section div.main div.body div.content div.zlg div.before div.acheck span.del {
  margin-left: 30px;
  width: 40px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #556f7b;
  color: #ffffff;
}
section div.main div.body div.content div.fbgz div.now div.acheck span.del:hover,
section div.main div.body div.content div.zlg div.now div.acheck span.del:hover,
section div.main div.body div.content div.fbgz div.deleted div.acheck span.del:hover,
section div.main div.body div.content div.zlg div.deleted div.acheck span.del:hover,
section div.main div.body div.content div.fbgz div.before div.acheck span.del:hover,
section div.main div.body div.content div.zlg div.before div.acheck span.del:hover {
  cursor: pointer;
}
section div.main div.body div.content div.zlg {
  display: none;
}
