section div.main {
  background-color: #eeeeee;
}
section div.main div.head {
  border-bottom: solid 1px #eeeeee;
  background-color: #ffffff;
}
section div.main div.head div.top {
  height: 156px;
  background: url('../images/lgb/hy.png') no-repeat;
  background-size: cover;
}
section div.main div.head div.top img.tx {
  width: 150px;
  height: 136px;
  margin-left: 10px;
  margin-top: 10px;
}
section div.main div.head div.top p {
  display: inline-block;
  width: 150px;
  height: auto;
  vertical-align: top;
  margin-top: 80px;
}
section div.main div.head div.top p span {
  margin: 5px 10px;
}
section div.main div.head div.top p span.name {
  font-size: 24px;
}
section div.main div.head div.top p span.number {
  font-size: 16px;
}
section div.main div.head div.bottom {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}
section div.main div.head div.bottom ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section div.main div.head div.bottom ul li {
  font-size: 18px;
  color: #c6c6c6;
}
section div.main div.head div.bottom ul li span {
  font-size: 18px;
  height: 22px;
  text-align: center;
  line-height: 16px;
}
section div.main div.head div.bottom ul li img,
section div.main div.head div.bottom ul li span,
section div.main div.head div.bottom ul li a {
  vertical-align: middle;
}
section div.main div.head div.bottom ul li a {
  margin-left: 26px;
  font-size: 16px;
  border: solid 1px #ff3c5a;
  color: #ff3c5a;
  height: 17px;
  width: 42px;
  text-align: center;
  line-height: 17px;
}
section div.main div.body div.navigation {
  display: inline-block;
  width: 230px;
  text-align: center;
  background-color: #ffffff;
  vertical-align: top;
  height: 1180px;
}
section div.main div.body div.navigation h1 {
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #c6c6c6;
  margin: 20px auto;
}
section div.main div.body div.navigation ul li {
  display: block;
  height: 54px;
  line-height: 54px;
}
section div.main div.body div.navigation ul li a {
  font-size: 18px;
  color: #333;
}
section div.main div.body div.navigation ul .active {
  color: #ff3c5a;
}
section div.main div.body div.content {
  background-color: #ffffff;
  display: inline-block;
  padding: 40px 20px;
  width: 950px;
  height: 1180px;
  box-sizing: border-box;
}
section div.main div.body div.content p.title {
  border-bottom: solid 2px #c6c6c6;
}
section div.main div.body div.content p.title span {
  font-size: 16px;
  color: #999;
  width: 110px;
  text-align: center;
  height: 32px;
  line-height: 32px;
}
section div.main div.body div.content p.title span:hover {
  cursor: pointer;
}
section div.main div.body div.content p.title .gz-zlg {
  background-color: #c6c6c6;
  color: white;
}
