section div.logo {
  text-align: center;
  margin: 40px auto;
}
section div.logo p {
  font-size: 18px;
  margin: 20px 0;
}
section div.main {
  width: 100%;
  height: 514px;
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  overflow: hidden;
}
section div.main div.img {
  float: left;
  width: 655px;
  height: inherit;
  border-right: solid 1px #c6c6c6;
  text-align: center;
}
section div.main div.img img {
  margin-top: 15px;
}
section div.main div.img span {
  color: #fc8832;
  font-weight: bold;
  font-size: 30px;
}
section div.main div.login {
  width: 534px;
  height: inherit;
  float: left;
  text-align: center;
}
section div.main div.login span.type {
  height: 55px;
  width: 263px;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
section div.main div.login span.type:first-child {
  background-color: #c6c6c6;
}
section div.main div.login span.type:hover {
  cursor: pointer;
}
section div.main div.login div.wxdl {
  text-align: center;
  margin-top: 50px;
}
section div.main div.login div.wxdl p {
  margin-top: 10px;
  font-size: 18px;
  color: #999999;
}
section div.main div.login div.zhdl {
  padding: 40px 20px;
  display: none;
}
section div.main div.login div.zhdl p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  width: 120px;
  margin-left: 144px;
  text-align: left;
}
section div.main div.login div.zhdl input {
  border: solid 1px #c6c6c6;
  margin: 10px 0;
}
section div.main div.login div.zhdl input[type=text],
section div.main div.login div.zhdl input[type=password] {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}
section div.main div.login div.zhdl input[type=submit] {
  width: 200px;
  background-color: #ff3c5a;
  color: #fff;
  display: block;
  margin-left: 144px;
  font-size: 18px;
  letter-spacing: 4px;
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
}
section div.main div.login div.zhdl input[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: -95px;
  padding: 0;
}
section div.main div.login div.zhdl span.zddl {
  color: #999999;
  vertical-align: middle;
  margin-left: 6px;
}
section div.main div.login nav {
  display: inline-block;
  position: relative;
  top: 48px;
  left: 135px;
  width: 150px;
}
section div.main div.login nav a {
  color: #2f2aff;
}
