div.head {
  padding: 0 10px;
  height: 100px;
  line-height: 92px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
div.head img {
  vertical-align: middle;
}
div.head a {
  vertical-align: middle;
  float: right;
  color: #2f2aff;
  font-size: 18px;
}
div.body img {
  width: 100%;
  top: 10px;
  position: relative;
  z-index: 1;
}
