section div.position {
  margin: 10px 0;
}
section div.main {
  background-color: #ffffff;
  padding: 40px 0;
  min-height: 500px;
  height: auto;
}
section div.main div.middle {
  margin: 0 auto;
  text-align: center;
}
section div.main div.buzhou {
  display: inline-block;
  width: auto;
  margin-bottom: 60px;
  padding-left: 40px;
  box-sizing: border-box;
}
section div.main div.buzhou span.step {
  margin: 0 20px;
  font-size: 18px;
}
section div.main div.buzhou .b {
  font-weight: bold;
}
section div.main div.buzhou a {
  color: #70dcff;
  font-size: 16px;
}
section div.main div.classify {
  padding: 0 40px;
}
section div.main div.classify ul {
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px #ff3c5a;
}
section div.main div.classify ul li a {
  height: 40px;
  line-height: 40px;
  color: #556f7b;
  font-size: 18px;
  width: 134px;
  text-align: center;
}
section div.main div.classify ul li .active {
  background-color: #ff3c5a;
  color: #ffffff;
}
section div.main div.type {
  margin: 40px auto;
  width: 600px;
  display: none;
}
section div.main div.type ul {
  margin: 20px;
}
section div.main div.type ul li {
  margin-left: 40px;
}
section div.main div.type ul li a {
  font-size: 16px;
  color: #333;
}
section div.main div.type ul li a:hover {
  color: #ff3c5a;
}
section div.main div.infor {
  border-top: solid 1px #c6c6c6;
}
section div.main div.infor h1 {
  font-size: 24px;
  margin: 60px 160px;
}
section div.main div.infor form {
  font-size: 16px;
}
section div.main div.infor form span {
  font-size: 16px;
}
section div.main div.infor form label {
  text-align: right;
}
section div.main div.infor form .marginr {
  display: inline-block;
  margin-right: 20px;
}
section div.main div.infor form .wrap {
  height: auto !important;
  margin-bottom: 40px;
}
section div.main div.infor form .form-group {
  margin-bottom: 40px;
}
section div.main div.infor form div.check,
section div.main div.infor form div.imgs {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}
section div.main div.infor form div.check div.zhtp,
section div.main div.infor form div.imgs div.zhtp {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}
section div.main div.infor form div.check div.zhtp img.tp,
section div.main div.infor form div.imgs div.zhtp img.tp {
  width: 130px;
  height: 100px;
}
section div.main div.infor form div.check div.zhtp img.gb,
section div.main div.infor form div.imgs div.zhtp img.gb {
  position: relative;
  top: -85px;
  right: 21px;
}
section div.main div.infor form div.check div.zhtp img.gb:hover,
section div.main div.infor form div.imgs div.zhtp img.gb:hover {
  cursor: pointer;
}
section div.main div.infor form div.check span.allcheck,
section div.main div.infor form div.imgs span.allcheck {
  color: #3cd3ff;
  font-weight: bold;
}
section div.main div.infor form div.check span.allcheck:hover,
section div.main div.infor form div.imgs span.allcheck:hover {
  cursor: pointer;
}
section div.main div.infor form .sctp {
  vertical-align: top;
}
