@media all and (min-width: 768px) {
  html body section div.detail-industry div .head img {
    margin-top: 8px;
  }
}
body a {
  text-decoration: none;
  color: #000000;
}
body .red {
  color: #ff3c5a;
}
body input {
  outline: none;
  box-shadow: none;
  border: none;
}
body section {
  width: 100%;
  background-color: #ffffff;
}
body section div.industry {
  width: 100%;
  height: 21rem;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
body section div.industry .industry-intro {
  width: 33%;
  height: 30%;
}
body section div.industry .industry-intro img {
  display: block;
  margin: 0 auto;
  height: 4.15rem;
  width: 4.25rem;
}
body section div.industry .industry-intro span {
  margin-top: .5rem;
  display: block;
  font-size: 1.1rem;
}
body section div.detail-industry div .head {
  height: 2.5rem;
  line-height: 2.5rem;
}
body section div.detail-industry div .head .txt {
  color: #ff3c5a;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 12px;
}
body section div.detail-industry div .head img {
  float: right;
  margin-right: 1px;
  margin-top: 5px;
  width: 1.3rem;
  height: 1.3rem;
}
body section div.detail-industry div .head .fb {
  float: right;
  font-size: .8rem;
  font-weight: bold;
  color: #00b4ff;
  margin-right: 10px;
}
body section div.detail-industry div .middle ul {
  margin: 4px 0;
  padding: 0;
  min-height: 2.5rem;
  width: 100%;
}
body section div.detail-industry div .middle ul li {
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 23%;
  height: 2.5rem;
  line-height: 2.5rem;
}
body section div.detail-industry div .middle ul li a {
  font-size: 1rem;
}
body section div.detail-industry div .middle ul li:nth-child(1) {
  margin-left: 1rem;
}
body section div.detail-industry div .middle ul.zxfb {
  border-bottom: solid 1px #edeeee;
  height: auto;
}
body section div.detail-industry div .middle ul.zxfb li {
  width: 96%;
  overflow: hidden;
  position: relative;
  height: auto;
}
body section div.detail-industry div .middle ul.zxfb li span.area {
  position: absolute;
  top: 0;
}
body section div.detail-industry div .middle ul.zxfb li a.txt-a {
  display: inline-block;
  width: 67%;
  margin-left: 2.4rem;
}
body section div.detail-industry div .middle ul.zxfb li a img {
  position: absolute;
  left: 90%;
  top: .4rem;
  width: 1.6rem;
  height: 1.6rem;
}
body section div.detail-industry div .middle ul.zxfb li .date {
  position: absolute;
  left: 78%;
  top: 0rem;
}
body section div.detail-industry div .middle .hui {
  background-color: #edeeee;
}
body section div.detail-industry div .middle .hui li a {
  color: #939090;
}
body section div.detail-industry div .dxs {
  background-color: #edeeee;
}
