section div.center {
  padding: 80px 0;
  text-align: center;
}
section div.center h1 {
  font-size: 30px;
}
section div.center p {
  margin: 40px 0;
  font-size: 24px;
}
section div.center p span.stress {
  font-size: 24px;
}
section div.center p a {
  margin: 0 20px;
  font-size: 18px;
  color: #2f2aff;
}
