div.full {
  background-color: #ffffff;
}
div.full div.main {
  width: 1190px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
}
div.full div.main img.logo {
  vertical-align: middle;
  margin-left: 10px;
  width: 160px;
  height: 50px;
}
div.full div.main form {
  display: inline-block;
  vertical-align: middle;
  width: 800px;
  text-align: center;
}
div.full div.main form input {
  vertical-align: middle;
}
div.full div.main form .input-normal {
  width: 530px;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0;
  padding-right: 10px;
}
div.full div.main form input[type=submit].fdj {
  width: 50px;
  height: 34px;
  line-height: 34px;
  border: solid 1px #ccc;
  border-radius: 2px;
  border-left: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
  box-sizing: border-box;
  margin-left: -8px;
  background: url("../images/fdj-bai.png") no-repeat center;
  background-color: #ccc;
}
div.full div.main form input[type=submit]:hover {
  cursor: pointer;
}
div.full div.main a {
  width: 150px;
  height: 34px;
  line-height: 34px;
  border: solid 1px #ff3c5a;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff3c5a;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 2px;
  vertical-align: middle;
}
section div.position {
  margin: 10px 0;
}
section div.main {
  margin: 10px 0;
  border: solid 1px #ccc;
  background-color: #ffffff;
}
section div.main div.conditions div.type {
  margin: 20px 30px;
}
section div.main div.conditions div.type span {
  color: #546e7a;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  width: 60px;
}
section div.main div.conditions div.type ul {
  display: inline-block;
  width: 1000px;
  vertical-align: top;
}
section div.main div.conditions div.type ul li {
  margin-left: 20px;
  text-align: left;
  height: 30px;
  line-height: 30px;
}
section div.main div.conditions div.type ul li a {
  color: #333;
}
section div.main div.conditions .gongzhong,
section div.main div.conditions .zhiyes,
section div.main div.conditions .dizhi {
  display: none;
}
section div.main div.conditions .dizhi {
  border: solid 1px #546e7a;
  padding: 10px;
  box-sizing: border-box;
  width: 800px;
  margin-left: 116px !important;
}
section div.main div.conditions .dizhi a {
  margin: 5px;
  color: #546e7a;
}
section div.main div.middle {
  height: 50px;
  line-height: 50px;
  background-color: #eeeeee;
  border: solid 1px #cccccc;
}
section div.main div.middle form {
  margin-left: 20px;
}
section div.main div.middle form #time {
  display: inline-block;
}
section div.main div.middle form .marginr {
  display: inline-block;
  margin: 0 20px;
}
section div.main div.middle form span.xz {
  margin-left: -6px;
}
section div.main div.information {
  background-color: #ffffff;
}
section div.main div.information div.type {
  height: 140px;
  padding: 20px 20px;
  box-sizing: border-box;
  border-bottom: solid 1px #cccccc;
}
section div.main div.information div.type img.tx {
  width: 150px;
  height: 100px;
  vertical-align: middle;
  margin-right: 40px;
}
section div.main div.information div.type div.jieshao {
  display: inline-block;
  width: 700px;
  height: 100px;
  vertical-align: middle;
  position: relative;
}
section div.main div.information div.type div.jieshao div.line1 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
section div.main div.information div.type div.jieshao div.line1 span {
  margin-right: 10px;
}
section div.main div.information div.type div.jieshao div.line1 a.name {
  font-size: 18px;
  color: #333;
  margin-right: 5px;
  vertical-align: middle;
}
section div.main div.information div.type div.jieshao span {
  vertical-align: middle;
}
section div.main div.information div.type div.jieshao span.address {
  color: #999;
  position: absolute;
  top: 50px;
}
section div.main div.information div.type div.jieshao div.line3 {
  display: inline-block;
  position: absolute;
  top: 86px;
}
section div.main div.information div.type div.jieshao div.line3 span {
  color: #999;
}
section div.main div.information div.type span.tel {
  vertical-align: middle;
  font-size: 18px;
  color: #ff3c5a;
  font-weight: bold;
  letter-spacing: 2px;
}
section div.fenye {
  width: 700px;
  margin: 40px auto;
}
section div.fenye a {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #333;
  font-size: 16px;
  margin: 0 5px;
  background-color: #ffffff;
  font-weight: bold;
  border: solid 1px #cccccc;
}
section div.fenye a:last-child {
  width: 60px;
}
section div.fenye .current {
  background-color: #c6c6c6;
}
