.lgbcz-main {
  background-color: #ffffff;
  height: 300px;
  padding: 80px 0;
}
.lgbcz-main form {
  width: 360px;
  margin: 0 auto;
}
.lgbcz-main form label {
  width: 60px;
}
.lgbcz-main form span.hong {
  color: #ff0000;
}
.lgbcz-main form input[type=submit] {
  letter-spacing: 4px;
}
.lgbcz-main form .mar {
  margin: 40px 66px;
}
.lgbcz-main div.success {
  width: 150px;
  margin: 0 auto;
}
.lgbcz-main div.success img {
  vertical-align: middle;
}
.lgbcz-main div.success span {
  font-size: 16px;
}
.gftx-main {
  background-color: #ffffff;
  padding: 80px 0;
}
.gftx-main h1 {
  font-size: 18px;
  text-align: center;
}
.gftx-main form {
  width: 460px;
  margin: 0 auto;
  margin-top: 40px;
}
.gftx-main form label span {
  font-size: 16px;
}
.gftx-main form .mar {
  margin: 60px 150px;
}
.hycz-company {
  background-color: #ffffff;
  padding: 20px 0;
}
.hycz-company div.title div.left {
  display: inline-block;
  margin-left: 80px;
  font-size: 18px;
  width: 790px;
}
.hycz-company div.title div.left span {
  font-size: 18px;
}
.hycz-company div.title div.left span.type {
  margin: 0 40px;
}
.hycz-company div.title div.left .jin {
  color: #caa600;
}
.hycz-company div.title div.right {
  display: inline-block;
}
.hycz-company div.title div.right span {
  font-size: 18px;
}
.hycz-company div.title div.right a {
  margin-left: 40px;
  border: solid 1px #ff3c5a;
  color: #ff3c5a;
  font-size: 18px;
  padding: 0 6px;
}
.hycz-company div.zhu {
  width: 600px;
  margin: 80px auto;
  font-size: 18px;
}
.hycz-company div.zhu div.VIP {
  margin: 20px 0;
}
.hycz-company div.zhu div.VIP p {
  font-size: 16px;
  margin: 20px 0;
}
.hycz-company div.zhu div.VIP div.demo {
  margin: 40px 0;
}
.hycz-company div.zhu div.VIP div.demo span {
  font-size: 18px;
}
.hycz-company div.zhu div.VIP div.demo span.package {
  display: inline-block;
  width: 140px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: solid 2px #dbdbdb;
}
.hycz-company div.zhu div.VIP div.demo span.package:hover {
  cursor: pointer;
}
.hycz-company div.zhu div.VIP div.demo .active {
  background-color: #dbdbdb;
}
.hycz-company div.zhu div.VIP div.demo span.money {
  margin: 0 10px;
  text-decoration: line-through;
  color: #9b9b9b;
  display: inline-block;
  width: 70px;
  font-size: 18px;
}
.hycz-company div.zhu div.VIP div.demo span.youhui {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #caa600;
  font-size: 18px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.hycz-company div.zhu div.VIP div.demo p.txt {
  font-size: 14px;
  display: inline-block;
  margin: 0 20px;
  color: #999;
}
.hycz-company div.zhu div.VIP div.demo input[type=submit] {
  margin-left: 190px;
  margin-top: 20px;
}
