body section form div {
  left: 10%;
}
section div.main {
  margin-top: 1rem;
}
section div.main div {
  margin-top: .5rem;
}
section div.main div.gonghao {
  padding-left: 1rem;
  box-sizing: border-box;
}
section div.main div.gonghao span {
  font-size: 1.1rem;
  margin-left: 1rem;
}
section div.main div.gonghao input {
  border: solid 1px #c6c6c6;
  margin-left: 1rem;
  width: 15rem;
  height: 2rem;
}
section div.main div.grade {
  display: inline-block;
}
section div.main div.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 2rem 0;
}
section div.main div.face div.grade img {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
}
section div.main div.face div.grade img.xiaolianred {
  display: none;
}
section div.main div.face div.grade span {
  width: 4rem !important;
  vertical-align: middle;
}
section div.main div.xingxing {
  padding-left: 7%;
  box-sizing: border-box;
}
section div.main div.xingxing img {
  vertical-align: middle;
  width: 1.6rem;
  height: 1.6rem;
  margin: .4rem;
}
section div.main div.xingxing span {
  vertical-align: middle;
}
section div.main div.xingxing span:first-child {
  margin-right: 10%;
}
section div.main div.xingxing span.txt {
  color: #aaa;
  display: none;
}
section div.main div.content {
  padding-left: 7%;
  box-sizing: border-box;
  margin: 2rem 0;
}
section div.main div.content textarea {
  width: 85%;
  height: 10rem;
  outline: none;
  resize: none;
  border: solid 1px #c1c1c1;
}
section div.main input[type=submit] {
  background-color: #ff3c5a;
  color: #fff;
  border-radius: 4px;
  width: 4rem;
  height: 2rem;
  font-size: 1.2rem;
  margin-left: 40%;
}
