html body footer {
  position: absolute;
  bottom: .02rem;
}
section {
  overflow: hidden;
}
section div.caution {
  width: 88%;
  margin: 5rem auto 0rem auto;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 0 0 1.6rem .6rem;
  box-sizing: border-box;
}
section div.caution h3 {
  margin: .5rem 0 1.6rem .5rem;
}
section div.caution ul {
  margin: 0;
  padding: 0;
}
section div.caution ul li {
  display: block;
}
section div.license {
  margin-top: 2rem;
  width: 100%;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1.1rem;
}
section div.license div {
  height: 5.2rem;
}
section div.license div span:nth-child(2) {
  display: inline-block;
  width: 7.7rem;
}
section div.license div input {
  border: solid 1px #c6c6c6;
  width: 15rem;
  height: 2rem;
}
body section div.license div input[type=file] {
  border: none;
}
section div.license div span.remind {
  margin-left: 8.4rem;
  margin-right: .4rem;
  margin-top: .4rem;
  font-size: .9rem;
  display: block;
}
section div.license div.id input[type=button] {
  width: 4rem;
  border-radius: 6px;
}
section div.license div.id input[type=text] {
  width: 11rem;
  background-color: #d8d8d8;
}
section input.submit {
  display: block;
  margin: 1rem auto;
  width: 4rem;
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px;
  color: #fff;
  background-color: #ff3c5a;
}
section div.right {
  margin-right: 2rem;
}
section div.right span.red {
  font-size: 1.2rem;
}
section div.success p {
  margin: 1rem auto;
  text-align: center;
  color: #727171;
}
section div.success p.p1 {
  margin: 2.5rem auto;
}
section div.success p.p1 span {
  margin-left: .2rem;
}
section div.success p.p2 span {
  display: inline-block;
  width: 8rem;
  text-align: left;
}
