section p.servicetype {
  margin-top: 2rem;
  padding: 0 1rem;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
}
section p.servicetype .fb {
  display: inline-block;
}
section p.servicetype .fb span {
  color: #00b4ff;
  vertical-align: middle;
  font-size: 1rem;
}
section p.servicetype .fb img {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.4rem;
}
section table {
  margin-top: 1rem;
}
