section div.register {
  height: 2.6rem;
  line-height: 2.6rem;
}
section div.register p {
  text-align: center;
  color: #a6a7a7;
  font-size: 1rem;
}
section div.register p a {
  color: #ff3c5a;
}
section form .input {
  position: relative;
  background-color: #efefef;
  padding: 1.2rem 0;
  width: 100%;
}
section form .input input::-webkit-input-placeholder,
section form .input input:-ms-input-placeholder,
section form .input input:-moz-placeholder {
  color: #a6a7a7;
}
section form .input input {
  width: 85%;
  margin: 0 auto;
  height: 3.2rem;
  display: block;
  border: solid 1px #efefef;
  color: #a6a7a7;
  padding-left: 2.9rem;
  background-repeat: no-repeat;
  background-size: 6%;
  font-size: 1.1rem;
}
section form .input input:first-child {
  background-image: url("../../images/tpls/login_03.gif");
  background-position: .6rem .6rem;
}
section form .input input:nth-child(2),
section form .input input:nth-child(3) {
  background-image: url("../../images/tpls/login_06.gif");
  background-position: .6rem .9rem;
}
section form .input .passimg {
  position: absolute;
  top: 5.3rem;
  left: 21rem;
  width: 5rem;
  height: 1.9rem;
}
section form .input .error {
  display: block;
  margin-top: 1rem;
}
section form .input .error img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
  vertical-align: middle;
}
section form .input .error span {
  display: inline-block;
  color: red;
  vertical-align: middle;
}
section form .login {
  position: relative;
}
section form .login .pass {
  margin: 0 2rem;
  height: 3rem;
  line-height: 3rem;
}
section form .login .pass img {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: .3rem;
}
section form .login .pass span.one {
  color: #a6a7a7;
}
section form .login .pass a {
  float: right;
  margin-right: .2rem;
  color: #5891ff;
}
section form .login input {
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 2.6rem;
  background-color: #ff3c5a;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  border-radius: 6px;
}
section form .qr-code {
  margin: 2rem 0;
  text-align: center;
}
section form .qr-code img {
  width: 14rem;
  height: 14rem;
}
section form .qr-code p {
  margin: 6px;
}
section form .qr-code p span {
  font-weight: bold;
}
