body header div.header-top div.user div.publish a span {
  font-size: .9rem;
}
body header div.header-top div.user div.mine a span {
  font-size: .9rem;
}
body header div.header-top div.user div.mine a span.header-tel {
  color: #0030ff;
}
body section p.title {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: solid 2px #ff3c5a;
  padding: .6rem 0 .4rem 1rem;
}
body section div.infor {
  margin-top: 1rem;
  padding-left: .5rem;
  box-sizing: border-box;
  width: 100%;
}
body section div.infor div.portrait {
  display: inline-block;
  width: 6rem;
  height: 8rem;
}
body section div.infor div.portrait img {
  width: inherit;
  height: inherit;
}
body section div.infor div.message {
  display: inline-block;
  box-sizing: border-box;
  height: 8rem;
  width: 75%;
  padding: .3rem;
  font-size: 1.1rem;
  overflow: hidden;
}
body section div.infor div.message div.detail {
  height: 1.9rem;
  width: 100%;
  margin-bottom: .2rem;
}
body section div.infor div.message div.detail div a {
  color: #0030ff;
}
body section div.infor div.message div.detail div .stress {
  color: #ff3c5a;
}
body section div.mine {
  margin-top: 1rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  width: 100%;
}
body section div.mine div.list {
  width: 100%;
  overflow: hidden;
}
body section div.mine div.list p {
  display: inline-block;
  width: 12rem;
  height: 3.2rem;
  font-size: 1.1rem;
}
body section div.mine div.list p img {
  vertical-align: middle;
  width: 2rem;
  height: 2.2rem;
}
body section div.mine div.list p span {
  margin-left: .4rem;
  vertical-align: middle;
}
body section div.service-content {
  box-sizing: border-box;
  width: 100%;
}
