section body footer {
  position: absolute;
  bottom: .2rem;
}
section form {
  margin-top: 2rem;
  width: 100%;
}
section form div {
  width: 100%;
  margin: 0 auto;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.1rem;
  position: relative;
  left: 5%;
}
section form div a.blue {
  text-decoration: underline;
  font-size: .9rem;
}
section form div p {
  color: #b70000;
  margin-left: 5.4rem;
}
section form div span.name {
  display: inline-block;
  width: 5rem;
}
section form div span.red {
  position: absolute;
  left: -1rem;
}
section form div select,
section form div input {
  height: 2rem;
  border: solid 1px #c1c1c1;
  color: #727171;
}
section form div textarea {
  display: block;
  margin-left: 5.2rem;
  margin-top: .5rem;
  outline: none;
  resize: none;
  border-color: #c1c1c1;
}
section form div input {
  width: 14rem;
}
section form div.address {
  height: 11.5rem;
}
section form div.summary {
  height: 10.5rem;
}
section form div.summary span {
  vertical-align: top;
}
section form div.summary textarea {
  display: inline-block;
  margin-left: 0;
  vertical-align: top;
  width: 18.6rem;
  height: 7.4rem;
}
section form div.summary span.number {
  position: absolute;
  left: 19rem;
  top: 6.2rem;
  color: #c1c1c1;
}
section form div.summary span.number .currentNum {
  color: #c1c1c1;
}
section form div.button {
  margin-left: 30%;
}
section form div.button input,
section form div.button a {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1rem;
  width: 3.6rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #ff3c5a;
  color: #fff;
  border-radius: 6px;
}
section form div.right {
  width: 8rem;
}
section form div.right span.red {
  position: static;
  margin: 0;
  font-size: 1.1rem;
}
section form div.right span {
  font-size: 1rem;
}
