body section div.list div.infor div.txt p.headline {
  display: block;
  margin-right: 1rem;
  position: absolute;
  top: 0.4rem;
  font-size: 1.1rem;
  left: 23%;
}
body section div.list div.infor div.txt span:nth-child(2) {
  left: 23%;
}
body section div.list div.infor div.txt span:nth-child(3) {
  top: 5.8rem;
  left: 23%;
}
body section div.list div.infor div.txt span:nth-child(4) {
  left: 85%;
}
section p.title {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: solid 2px #ff3c5a;
  padding: .6rem 0 .4rem 1rem;
}
