section p.title {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: solid 2px #ff3c5a;
  padding: .6rem 0 .4rem 1rem;
}
section div.question {
  margin-top: 1rem;
  margin-bottom: .6rem ;
  padding-left: 1rem;
  padding-right: .6rem;
  box-sizing: border-box;
}
section div.question p.headline {
  margin-bottom: .5rem;
  font-weight: bold;
}
section div.question p.text {
  text-indent: 1rem;
  text-align: justify;
}
section div.question p.text b {
  display: block;
}
